# Dependencies
node_modules/

# Build output
dist/
*.js
*.js.map

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

# ESLint
.eslintcache

# TypeScript
*.tsbuildinfo 